header {
        background-color: #af4c98;
        color: white;
        box-shadow: 0 4px 6px rgba(red, green, blue, alpha0.1); 
        padding: 10px 0;
        text-align: center;
}
    header h1{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: xx-large;
    font-style: italic;
    font-weight: 600px;
    text-align: center;
    color: #000;
    align-items: center;
}
.logoing{
background-color: #f5f5f5;
    width: 85px;
    height: 85px;
    display: block;
    border-radius: 50%;
}
body{color: #f5f5f5;
background-color: #00ffff;
margin: 0;
padding: 0;
line-height: 1;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.collage{
    column-count: 2;
    column-gap: 10px;
    max-width: 700px;
    margin: auto;
}
.collage img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

