header {
        background-color: #af4c98;
        color: white;
        box-shadow: 0 4px 6px rgba(red, green, blue, alpha0.1); 
        padding: 10px 0;
        text-align: center;
        text-decoration: none ;
}
    header h1{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: xx-large;
    font-style: italic;
    font-weight: 600px;
    text-align: center;
    color: #000;
    align-items: center;
    text-decoration: none;
}
nav{
        background-color: black;
        /* backgrouund color:black*/
text-align: center;
padding: 12px 0;
        }
        nav a{
            text-decoration: white;
            color: white;
            margin: 0 20px;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 0.5px;
        }
        nav a:hover{
            color: #ff6347;
            text-decoration: underline;
        }
.logoing{
background-color: #f5f5f5;
    width: 85px;
    height: 85px;
    display: block;
    border-radius: 50%;
}
body{color: #f5f5f5;
background-color: #00ffff;
margin: 0;
padding: 0;
line-height: 1;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.collage{
    column-count: 2;
    column-gap: 10px;
    max-width: 700px;
    margin: auto;
}
.collage img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}
section{
            background-color: gray;
            border-radius: 8px;
            margin: auto;
            box-shadow: 0 2px 10 px rgba(0,0,0, alpha0.1)
            padding: 24px;
            transition: box-shadow 0.3s ease;
        }
        section:hover{box-shadow: 0 6px 18px rgba(0,0,0, 0.15);
        }
        section h2{
            color: #bf00ff;
             font-size: 28px;
             margin-bottom: 14px;

